<log4net>
  <logger name="Logger">
    <level value="ALL" />
    <appender-ref ref="ErrorRollingFileAppender" />
    <appender-ref ref="InfoRollingFileAppender" />
  </logger>

  <!--<logger name="AndroidService">
    <level value="ALL" />
    <appender-ref ref="AndroidServiceRollingFileAppender" />
  </logger>-->
  


  <!--数据日志-->
  <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\" />
    <param name="AppendToFile" value="true" />
    <param name="rollingStyle" value="Date" />
    <param name="datePattern" value="yyyyMMdd'.log'" />
    <param name="staticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %-2t> %m%n"/>
    </layout>
    <!--<param name="ImmediateFlush" value="true" />-->
  </appender>
  <!--异常日志
  <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\" />
    <param name="AppendToFile" value="true" />
    <param name="rollingStyle" value="Date" />
    <param name="datePattern" value="yyyyMMdd_'error.log'" />
    <param name="staticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %-2t> %m%n %exception"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="WARN" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>-->


  <!--行为日志-->
  <appender name="BehaviorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\" />
    <param name="AppendToFile" value="true" />
    <param name="rollingStyle" value="Date" />
    <param name="datePattern" value="yyyyMMdd'_behavior.csv'" />
    <param name="staticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d,%m%n"/>
    </layout>
  </appender>

  <!--windows服务消息日志-->
  <appender name="AndroidServiceRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\" />
    <param name="AppendToFile" value="true" />
    <param name="rollingStyle" value="Date" />
    <param name="datePattern" value="yyyyMMdd_win'.log'" />
    <param name="staticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %-2t> %m%n"/>
    </layout>
  </appender>
  
  
</log4net>
